DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/shortener
REDIS_URL=redis://redis:6379
SECRET_KEY=54e9d77b035c31b08ae4e191b4f9df876981edafd009c0434e8925d64c671372
ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shortener
